*{
	background-image: url(imagenes/bac.jpg);
}

.datos{
	text-align:left;
    text-indent:25px;
    font-family: Arial;
    color:#fff;
    border-style: dotted;
	box-shadow: 5px 10px 18px #000000;
    margin:10px 450px;
    border-radius: 25px;
}

.datos2{
	text-align:left;
	text-indent:25px;
	font-family: Arial;
    color:#fff;
    border-style: dotted;
	box-shadow: 5px 10px 18px #000000;
    margin:80px 450px 0px;
    border-radius: 25px;
}

.name{
	text-align:left;
	text-indent:25px;
	font-family: Arial;
    color:#fff;
    border-style: dotted;
	box-shadow: 5px 10px 18px #000000;
    margin:10px 480px;
    border-radius: 25px;
}

.gmail{
	text-align:left;
	text-indent:25px;
	font-family: Arial;
    color:#fff;
    border-style: dotted;
	box-shadow: 5px 10px 18px #000000;
    margin:10px 480px;
    border-radius: 25px;
}

.prop{
	text-align:left;
	text-indent:25px;
	font-family: Arial;
    color:#fff;
    border-style: dotted;
	box-shadow: 5px 10px 18px #000000;
    margin:10px 480px;
    border-radius: 25px;
}

.ods{
	text-align:left;
	text-indent:25px;
	font-family: Arial;
    color:#fff;
    border-style: dotted;
	box-shadow: 5px 10px 18px #000000;
    margin:10px 480px;
    border-radius: 25px;
}

.des{
	text-align:left;
	text-indent:25px;
	font-family: Arial;
    color:#fff;
    border-style: dotted;
	box-shadow: 5px 10px 18px #000000;
    margin:10px 480px;
    border-radius: 25px;
}

.pro{
	text-align:left;
	text-indent:25px;
	font-family: Arial;
    color:#fff;
    border-style: dotted;
	box-shadow: 5px 10px 18px #000000;
    margin:10px 480px;
    border-radius: 25px;
}
