table{
	width:100%;
	height:100%;
}
body{
	background: -webkit-linear-gradient(left, #00B13A, white, #00B13A); /* For Safari 5.1 to 6.0 */
}
p{
	padding:7px;
	text-align:center;
	color:#848484;
	font-family:Candara,Century,Corbel;
	font-size:11pt;
}
td{
	text-align:center;
}
.lem{
	width:75%;
	height:75%;
}
label, input{
	font-family:Verdana;
	font-size:20pt;
	color:#555555;
	text-align:left;
}
.tnosotros{
	width:50%;
	height:auto;
	background-color:#eaeaea;
	text-align:left;
}
.titulo{
	padding:7px;
	text-align:center;
	color:#848484;
	font-family:Candara,Century,Corbel;
	font-size:30pt;
}
.tdd{
	text-align:left;
}