body{
	margin-top: 10px;
	padding: 5px;
	font-family: sans-serif;
	background: -webkit-linear-gradient(left, #00B13A, white, #00B13A); /* For Safari 5.1 to 6.0 */
	border: 2px solid white;
	width: auto;
	height: auto;
	text-align: center;
	
	
}
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
